# Global excludes across all subdirectories
*.o
*.obj
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.sl.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/tmp_install/
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/install_manifest.txt
/build
/contrib/seg/segparse.h
/src/bin/pgbench/exprparse.h
/src/backend/replication/syncrep_gram.h
/src/test/regress/regression.diffs
/src/test/regress/regression.out
/src/test/isolation/specparse.h
/src/backend/replication/repl_gram.h
/src/backend/bootstrap/bootparse.h
/contrib/cube/cubeparse.h
/src/test/isolation/regression.diffs
/src/test/isolation/regression.out
/src/test/isolation/regression.diffs
/src/test/isolation/regression.out
